<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dbcon</servlet-name>
        <servlet-class>db.Dbcon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>user.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Admin</servlet-name>
        <servlet-class>user.Add_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevLogin</servlet-name>
        <servlet-class>user.DevLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ulogin</servlet-name>
        <servlet-class>user.Ulogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_dept</servlet-name>
        <servlet-class>user.Add_dept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptLogin</servlet-name>
        <servlet-class>user.DeptLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_user</servlet-name>
        <servlet-class>user.Add_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_inword</servlet-name>
        <servlet-class>user.Add_inword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcat</servlet-name>
        <servlet-class>user.addcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>user.ChangePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dbcon</servlet-name>
        <url-pattern>/Dbcon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Admin</servlet-name>
        <url-pattern>/Add_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevLogin</servlet-name>
        <url-pattern>/DevLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ulogin</servlet-name>
        <url-pattern>/Ulogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_dept</servlet-name>
        <url-pattern>/Add_dept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptLogin</servlet-name>
        <url-pattern>/DeptLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_user</servlet-name>
        <url-pattern>/Add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_inword</servlet-name>
        <url-pattern>/Add_inword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcat</servlet-name>
        <url-pattern>/addcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
